<a href="https://colab.research.google.com/github/ArchangeTheCodr/ROAD-TO-DATA-SCIENCE/blob/Jour-1/%5BNUMPY%5D_Solution_exercice1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Source de l'exercice : https://colab.research.google.com/github/OpenClassrooms-Student-Center/fr-4452741-decouvrez-les-librairies-python-pour-la-data-science/blob/main/notebooks/P1/P1C3%20-%20Cr%C3%A9ez%20vos%20premiers%20arrays%20avec%20Numpy.ipynb

In [ ]:
import numpy as np

In [ ]:
# Liste des salaires des clients
liste = [1800, 1500, 2200, 3000, 2172, 5000, 1400, 1200, 1100, 1300]
liste

In [ ]:
# Creation de l'array
revenus  = np.array(liste)
revenus

In [ ]:
# creation de l'array des revenus superieur a 3000
haut_revenus = revenus[revenus >= 3000]
haut_revenus

In [ ]:
# calcule de la somme des revenus annuels
annuel = revenus * 12
somme = annuel.sum()
somme

In [ ]:
# Moyenne des revenus annuel
moyenne = annuel.mean()
moyenne

In [ ]:
# Ajout de 200 au salaire du client qui gagne 1400
revenus[revenus == 1400] = revenus[revenus == 1400] + 200

In [ ]:
# nouvel array des revenus
revenus