<a href="https://colab.research.google.com/github/ArchangeTheCodr/ROAD-TO-DATA-SCIENCE/blob/Jour-1/%5BNUMPY%5D_Solution_exercice_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lien vers l'enonce de l'exercice : https://colab.research.google.com/github/OpenClassrooms-Student-Center/fr-4452741-decouvrez-les-librairies-python-pour-la-data-science/blob/main/notebooks/P1/P1C4%20-%20Transformez%20vos%20donn%C3%A9es%20en%20tableaux.ipynb

In [10]:
import numpy as np

In [ ]:
hugo = [1800, 21, 0]
richard = [1500, 54, 2]
emilie = [2200, 28, 3]
pierre = [3000, 37, 1]
paul = [2172, 37, 2]
deborah = [5000, 32, 0]
yohann = [1400, 23, 0]
anne = [1200, 25, 1]
thibault = [1100, 19, 0]
emmanuel = [1300, 31, 2]

tableau = [hugo, richard, emilie, pierre, paul, deborah,
           yohann, anne, thibault, emmanuel]

display(tableau)

**Creation du tableau multidimensionnel**

In [ ]:
data = np.array(tableau)
display(data)

**Gestion du pret immobilier de paul**

In [21]:
paul = data[4,:]
display(f'Paul gagne {paul[0]} euros mensuellement, il a {paul[1]} ans et {paul[2]} enfant(s) !')
mensualite = round(paul[0]*0.35)
display(f'Les mensualites maximales de paul sont de : {mensualite} euros !')

'Paul gagne 2172 euros mensuellement, il a 37 ans et 2 enfant(s) !'

'Les mensualites maximales de paul sont de : 760 euros !'

**Ajout d'une nouvelle cliente**

In [ ]:
louise = [1900, 31, 1]
display('l\'array avant : ', data)
data = np.vstack((data, louise))
display('l\'array ensuite : ', data)

**Creation de l'array des salaires**

In [ ]:
revenus = []
np.array(revenus)

revenus = data[:,0]
display('Tous les salaires : ', revenus)